.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .galleryItem {
    position: relative; /* Para posicionar el botón de manera absoluta */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px); /* Dos columnas con espacio entre ellas */
    max-width: 500px; /* Ancho máximo */
    aspect-ratio: 2 / 1; /* Relación de aspecto 2:1 */
  }
  
  .galleryItem img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .seeMore {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    display: flex; /* Flexbox para alinear el texto y el icono */
    align-items: center; /* Centrar verticalmente */
    gap: 5px; /* Espacio entre el texto y el icono */
  }
  
  .seeMore i {
    margin-left: 50px; /* Espacio entre el texto y el icono */
  }
  
  .seeMore:hover {
    background-color: #218838;
  }
  