
.containerbt{

    margin-left: 15%;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    padding: 20px;
    width: 400px;
}
h1 {
    color: #00b894;
}

.button-container {
    margin-bottom: 20px;
}

button {
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 10px 10px 30px;
    border-radius: 25px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: background-color 0.3s;
    width: 200px;
}

button .icon {
    margin-right: 8px;
}

.btn-activated {
    background-color: #199B40;
    color: #ECEDF0
    ;
}

.btn-active {
    background-color: #199B40;
    color: #ECEDF0
    ;
}

.btn-active .icon {
    margin-left: 8px;
    margin-right: 0;
}

.btn-deactivated {
    background-color: #383C41;
    color: #ECEDF0
    ;
}

.btn-disabled {
    background-color: #ECEDF0
    ;
    color: #636e72;
    border: 2px solid #636e72;
}

.btn-hover {
    background-color: #D5DA35;
    color: #98A3AF;
}

.btn-hover:hover {
    background-color: #D5DA35;
}

.btn-active:hover,
.btn-activated:hover {
    background-color: #019874;
}

.btn-deactivated:hover {
    background-color: #34495e;
}

.btn-disabled:hover {
    background-color: #dfe6e9;
    color: #ECEDF0
    ;
    border-color: #ECEDF0
    ;
}
