
.containerip{
    display: inline-block;
    margin-left: 15%;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    padding: 20px;
    width: 400px;
    margin-top: 1%;
}
.input-container {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

.input-texto {
    border: 2px solid #383C41;
}

.input-correcto {
    border: 2px solid #199B40;
}

.input-error {
    border: 2px solid #FF4940;
}
