.container {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos a los lados */
  align-items: center; /* Centra verticalmente los elementos */
  border: 1px solid rgb(231, 231, 231);
  width: 72%;
  margin: 1% 0 0 325px;
  height: 60px;
  min-width: 300px;
  border-radius: 30px;
  background-color: #fff;

}

.container .iconMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  margin: 0 20px 0 20px;

}

.container .input {
  flex-grow: 1; /* Permite que el input ocupe el espacio disponible */
  
  max-width: 400px;
  min-width: 200px;
  margin-bottom: 10px;

}

.container .input input {
  width: 100%;
  height: 40px;
  margin: 10px 0 0 0;
  border: 1px solid #738568;
  border-radius: 30px;
}

.container .container2 {
  display: flex;
  align-items: center;
}

.container .containerIcons {
  display: flex;
  align-items: center;
  margin-right: 30px;
  gap: 20px;
}

.container .containerIcons img {
  width: 25px;
  margin-left: 10px; /* Espacio entre los íconos */
}
.container .containerIcons .iconMoon{
  width: 20px;
  margin-left: 10px; /* Espacio entre los íconos */
}

.container button {
  background-color: #199B40;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 40px;
}

.buttonnav{
  width: 20px;
  margin-right: 10px;
}