
.container_login{
    background-image: url(../../../../assets/img/fondo_login.png);
    display: grid;
    grid-template-columns: 1fr 1fr; 
    justify-items: center;
    gap: 40px;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    align-items: center;

}

.card_login_general{
    max-width: 500px;
    width: 500px;
    background-color: #fff;
    padding: 0px;
    border-radius: 30px;
    overflow: hidden;
}

.login{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.login .img_login{
    margin: 0 auto;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 30px;
}

.login input{
    border: none;
    background-color: #f4f4f4;
    padding: 15px 20px;
    border-radius: 50px;
}

.login .olvidar_contraseña{
    display: flex;
    justify-content: space-between;
}

.login button{
    background-color: #169a3f;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 50px;
}

.register{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.register .img_login{
    margin: 0 auto;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 30px;
}

.register input{
    border: none;
    background-color: #f4f4f4;
    padding: 15px 20px;
    border-radius: 50px;
}



.register button{
    background-color: #169a3f;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 50px;
}

.tabs_content_login, .tabs_content_register {
    display: none; /* Ocultar por defecto */
}
.active {
    display: block; /* Mostrar el contenido activo */
}
.tabs{
    display: flex;
    background-color: #ffffff;
    margin: -10px;
    max-height: 100px;
    
   
}
/* Estilo básico de los botones */
.tabs button {
    width: 100%;
    height: auto;
    padding: 30px 0px;
    border: none;
    cursor: pointer;
    background-color: #c5dbc6; /* Color de fondo predeterminado */
    color: #4e4d4d; /* Color de texto predeterminado */
    border-radius: 0px 30px 0px 0px;
    margin: 10px 0px 0px 0px;
    font-weight: 900;
    justify-content: center;
    font-size: 22px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    align-items: center;

}

/* Estilo de botón activo */
.tabs button.active {
    background-color: #fff; /* Color de fondo activo */
    color: #4e4d4d; /* Color de texto activo */
    border-radius: 0px 30px 0px 0px;
    font-weight: bold;

}
.tabs button.activereg {
    justify-content: center;
    background-color: #fff; /* Color de fondo activo */
    color: #4e4d4d; /* Color de texto activo */
    border-radius: 0px 30px 0px 0px;
    font-weight: bold;

}

.tabs button.desactivelog {
    background-color: #c5dbc6; /* Color de fondo activo */
    color: #4e4d4d; /* Color de texto activo */
    border-radius: 30px 0px 30px 0px;
    font-weight: bold;
}
.tabs button.desactivereg {
    background-color: #c5dbc6; /* Color de fondo activo */
    color: #4e4d4d; /* Color de texto activo */
    border-radius: 0px 30px 0px 30px;
    font-weight: bold;
}


@media (max-width: 800px){
    .container-login{
        grid-template-columns: 1fr;

    }
}

.icon{
    margin-right: 5px;
    font-size: 22px;
    margin-top: 20px;
}

.registericon{
    margin-right: 5px;
    width: 22px;
    margin-top: 3px;
}

.tabs button.desactivelog .icon{
   margin-bottom: 20px;
}
.imgInputUser{
    width: 20px;
}

.containerInput {
    display: flex;
    align-items: center; 
}
.imgInputReg{
    width: 20px;
}

.containerReg{
    display: flex;
    align-items: center; 
}
.containerRec{
    display: flex;
    align-items: center;
    width: 100%;
}


.containerRec .inputRec {
    border: 0.2px solid gray ;
    width: 20px;
    height: 20px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    accent-color: #4caf50;
    justify-content: flex-start;

}

.containerRec .labelRec {
    font-size: 16px;
    color: rgb(110, 110, 110);
    margin-top: 6px;
    font-weight: 100;
}

.containerRec .olvCont {
    margin-left: 30%;
    width: 50%;

}

.containerRec .olvCont a{
    color: rgb(110, 110, 110);
    text-decoration: none;
}
.containerRec .olvCont a:active{
    color: rgb(110, 110, 110);

}

.containerLog{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.containerLog button{
    justify-content: center;
    font-weight: bold;
}