.calculatorContainer {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  h1 {
    text-align: left;
    font-size: 24px;
    color: #333;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  input {
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 0 15px;
    font-size: 16px;
    
  }
  
  input:focus {
    outline: none;
    border-color: #28a745;
  }
  
  .submitButton {
    width: fit-content;
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submitButton:hover {
    background-color: #218838;
  }
  .container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

  }
.container .formGroup input {
    width: 400px;
    min-width: 100px;
    max-width: 400px;
    border: 1px solid #383C41;
  }
.containerinputPrinc{
    width: 820px;
    max-width: 820px;
    display:flow-root;

}



.containerinputPrinc  label {
    width: 100%;
margin-bottom: 20px;
}
.containerinputPrinc input {
    border: 1px solid #383C41;
    width: 100%;
    height: 40px;
    max-width: 1200px;
}