*{
    font-family: "Poppins", sans-serif;
}

:root {
    --background: #FFFFFF;
    --navbar-width: 256px;
    --navbar-width-min: 80px;
    --navbar-dark-primary: #383C41;
    --navbar-dark-secondary: #2c3e50;
    --navbar-light-primary: #f5f6fa;
    --navbar-light-secondary: #8392a5;}
  
html, body {
    margin: 0;
    background: #ECEDF0;
}